<div>
    <img src="~/images/unauth.jpg" height="100" alt="unauthorized" />
    <h2 class="display-2 text-center"><strong>Acesso não autorizado</strong></h2>
    <h4 class="display-4 text-center">Favor entrar em contato com o administrador do sistema</h4>
</div>
